h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    color: orange;
}

ul {
    background-color: aqua;
    font-style: italic;
    text-decoration: underline;
    line-height: 25px;
    text-align: center;
}

.extra {
    background-color: rgb(33, 231, 165);
}

.extraVermelho {
    background-color: red;
}

.extraAmarelo {
    background-color: yellow;
}

.extraMarrom {
    background-color: brown;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

body {
    font-size: 26px;
}
ol{
    font-size: 14px;
}